{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{% static 'login/style.css' %}">
</head>

<body>
    <div class="container-login">
        <div class="container">
            <img src="{% static 'logo.png' %}" id="img" alt="Logo app">
            <form class="form" method="post">
                {% csrf_token %}
                {{form}}
                <br>
                <button class="button-login" type="submit">Acessar</button>
            </form>
        </div>
    </div>
</body>

</html>